<nav class="bg-slate-300 flex justify-between fixed w-full p-3 z-[1000]">
    <div class="flex space-x-3">
        <h1 class="border-r-2 border-r-black pr-3 pt-2 text-3xl">Company name</h1> 
        <form action="" class="">
            <input type="text" placeholder="Search Here" class="h-[30px] w-[40em] outline-none placeholder:pl-3 placeholder:font-bold placeholder:font-mono pl-3 h-[3em] rounded-md">
        </form>
    </div>
    <NavLink href="/login" class="p-2 underline-none hover:underline-none text-black bg-blue-500 rounded-xl w-[8em] flex space-x-3 justify-end hover:text-blue-500 hover:bg-white hover:transition-all cursor-pointer">
        <span class="text-xl">Login</span>
        <img src="/images/login.png" alt="login">
    </NavLink>
</nav>