@inherits LayoutComponentBase

<div>
    <header class="">
    <HeaderBar />
    </header>
    <main class="flex space-x-4 h-[100vh] relative">
        <div class="flex flex-col space-y-4 w-[20em] bg-blue-500 fixed bg-opacity-10 top-[5.2em] border-r-2 border-r-black">
            <NavMenu/>
            <SavedReports/>
        </div>
        <article class="content px-4 h-fit absolute w-[80%] -right-[1em] top-[6em]">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
