<nav class="flex flex-col space-y-3 p-2 w-fit">
    @foreach (var item in navItems) {
        <NavLink href="@item.Url" class="flex space-x-2 p-2 hover:text-blue-500 transition-all hover:bg-white hover:font-bold hover:transition-all hover:rounded-lg cursor-pointer underline-none text-black">
            <img src="@item.ImageUrl" alt="@item.Title" class="w-[1em]"/>
            <span>@item.Title</span>
        </NavLink>
    }
</nav>

@code{
    public class NavItem{
        public string ImageUrl { get; set; }
        public string Title { get; set; }
        public string Url { get; set; }
    }
    List<NavItem> navItems = new List<NavItem>{
        new NavItem {ImageUrl = "/images/home.png", Title="Dashboard", Url="/"},
        new NavItem {ImageUrl = "/images/order.png", Title="Orders", Url="/"},
        new NavItem {ImageUrl = "/images/products.png", Title="Products", Url="/"},
        new NavItem {ImageUrl = "/images/customer.png", Title="Customers", Url="/"},
        new NavItem {ImageUrl = "/images/reports.png", Title="Reports", Url="/"},
        new NavItem {ImageUrl = "/images/integrations.png", Title="Integrations", Url="/"}
    };


}