@page "/login"
@inject NavigationManager Navigate


<main class="absolute top-0 w-full h-[100vh] flex justify-center space-x-[4em] items-center">
    <section class="h-[40em] flex flex-col justify-center items-center p-2">
        @if(showError){
            <div  class="border-2 border-black bg-red-600 bg-opacity-80 text-center p-4 text-white w-full rounded-lg">
                Sorry incorrect email or password
            </div>
        }
        <div class="flex flex-col items-center">
            <div>logo</div>
            <p class="text-3xl font-bold">Nobshop Online</p>
        </div>
        <form method="post" @formname="loginform" class="mt-4">
            <AntiforgeryToken/>
            <label for="email">Email</label>
            <InputText type="email" name="email" placeholder="johndoe@gmail.com" @bind-Value="email" required class="pl-3 outline-none placeholder:pl-3 w-full h-[3em] rounded-lg border-2 border-black" id="email"/>
            <label for="password" class="mt-3">Password</label><br>
            <InputText Type="InputType.Password" required name="password" placeholder="enter your password" @bind-Value="password" class="pl-3 outline-none placeholder:pl-3 w-full h-[3em] rounded-lg border-2 border-black" id="password"/>
            <button type="submit" class="w-full h-[2em] rounded-lg bg-purple-600 text-white font-bold cursor-pointer mt-3" @onclick="LoginUser"> Sign in </button>
        </form>
        <p class="text-center mt-4"> Don't have an account? <span class="text-purple-600 font-bold font-mono">Sign Up</span></p>
    </section>
    <section class="flex flex-col justify-end bg-slate-400 h-[40em]">
        <div class="bg-purple-600 p-3 text-white bg-opacity-70">
            <h1 class="text-3xl font-bold">Nobshop Online</h1>
            <p>Effortlessly manage listings, track sales, and connect with buyers.</p>
            <p>Everything you need to grow your business, all in one place.</p>
            <p class="mt-16 text-slate-300">Copyright &copy; 2024 | Nobshop Online. All Right Reserved</p>
        </div>
    </section>
</main>

@code {
    private string email = "";
    private string password = "";
    private bool showError = false;

    private void LoginUser()
    {
        if(email.Equals("stephen@nobsteinuni.edu") && password.Equals("kelvin98")){
            Console.WriteLine("Login successful! Navigating to the home page.");
            Navigate.NavigateTo("/");
        }
        else {
            showError = true;
        }
    }
}